<!DOCTYPE html>
<html>
<head>
    <title>Ramen MAP</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style>
    html,body { 
        height:100%;
        width:100%;
        margin:  0;
        padding: 0;
    }
    
    #map {
        height:100%;
        width:100%;
    }
    </style>
    
</head>

<body >
	<div id="map"></div>
</body>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js"></script>
    <script>
        //default parameters
        var center_lat = 34.732619;
        var center_lng = 135.732392;
        var default_zoom = 16;
                
        var c_latlng = L.latLng(center_lat, center_lng)
        
        //set a map
		var map = L.map('map').setView(c_latlng, default_zoom);
		
        //import tile for depicting the map
        L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery c <a href="http://mapbox.com">Mapbox</a>',
			id: 'examples.map-i86knfo3'
		}).addTo(map);
        
        //var runLayer = omnivore.kml('./kmls/5star_ramen.kml')//←can access contents but cannot parse. 
        var runLayer = omnivore.kml('https://maps.google.co.jp/maps/ms?dg=feature&ie=UTF8&msa=0&output=kml&msid=201918376589441358099.000455b175f21621431cc')
        .on('ready', function() {
            map.fitBounds(runLayer.getBounds());
        })
        .addTo(map);
        
        function addMarker(targetmap,lat,lng,popmsg){
            L.marker([lat,lng]).addTo(targetmap).bindPopup(popmsg);    
        }
        
        //for (i=0;i<10;i++){
        //    addMarker(map,center_lat+Math.random()*0.001,center_lng+Math.random()*0.001,"It is NAIST"+i);
        //}
	</script>
</html>
